
  .menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    // *this will prevent the pic from going past the borders.  this is related to the hovering
    overflow: hidden;
    // * this will make the image move in the background aka expand
        // *whenever we hover on the image, we want to scale by 1.1x the current size of the pic
        // * whenever we target the transform,, we want to take 6 seconds for our somoother transistion
    &:hover {
        cursor: pointer;
      
        & .background-image {
          transform: scale(1.1);
          transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
      
        & .content {
          opacity: 0.9;
        }
      }
      
    

    // * what we are saying, if if our menu-item has LArge....
    // *this will effect the women's and men's section 
    &.large{
        height:380px;
    }


  // todo: '&', it means that the class above it and it wants to append this additional selector
      // todo: so it's saying that the menu item's first child gets this style
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
    .background-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size:cover;
    }
  // todo: what this is saying is any calss of contant that sits between any element w/ the class of menu item, will get these styles
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    //   *this putsthe white backgounds on thei nner boxes
      background-color: white;
      opacity: 0.7;
    //   *Absoulte syas no matter what happens, no matter what other elements are on the page, the position of this contnet will always be whaterver the position calculation will be
      position:absolute;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }